# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
__pycache__/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Serverless directories
.serverless

# Python virtual environments
venv-mint/

# individual development config settings
api/common/dev_config.py
api/endpoints/common/dev_config.py

.idea
.pytest_cache/
tests/.pytest_cache/
node_modules/

.DS_Store
api/.DS_Store
api/__pycache__/
api/tests/test_sql/.DS_Store

# data from original dev env
api/local/london_data/