<strong>Rephrased indicator</strong><br />
    {{ rephrased_indicator }}<br />
    <br />
<strong>Original phrasing</strong><br />
    {{ original_phrasing }}<br />
    <br />
{%- if explanatory_terms %}
<strong>Explanatory terms</strong><br />
    {{ explanatory_terms }}<br />
    <br />{% endif -%}
{%- if rationale_for_change %}
<strong>Rationale for change</strong><br />
    {{ rationale_for_change }}<br />
    <br />
{% endif -%}
Do you like the rephrased indicator?
