SELECT
    {{ columns|join(', \n') }}
FROM
    {{ table }}
{% if joins -%}
    {{ joins|joins_filter }}
{% endif %}
{% if where -%} WHERE
    {{ where|where_filter }}
{% endif %}
{% block order_clause %}{% endblock %}